@charset "UTF-8";
/*
  今回はスマホ用レイアウトしか実装していません。
*/
/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #000;
  background: #FFF;
}

/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

ul {
  list-style-type: none;
}

input, textarea, select {
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  background: none;
  outline: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input::-ms-expand {
  display: none;
}

input[type="radio"] {
  display: none;
}

textarea {
  resize: none;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.inner {
  margin-top: auto;
  padding: 10px;
}

.result {
  width: 100%;
  background-color: transparent;
  color: #fff;
  text-align: right;
  font-size: 80px;
}

.main-body {
  width: 75%;
  float: left;
  clear: both;
  margin-right: 10px;
}

.other,
.numbers,
.operations {
  display: flex;
}

.other {
  margin-bottom: 10px;
}

.numbers {
  flex-wrap: wrap-reverse;
}

.operations {
  flex-direction: column;
}

.button {
  display: block;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  line-height: 77px;
  text-align: center;
  font-size: 25px;
}

.button--other {
  background-color: #A6A6A6;
}

.button--other:not(:last-child) {
  margin-right: 10px;
}

.button--number,
.button--colon {
  background-color: #333333;
}

.button--operation {
  background-color: #FE9500;
}

.button--operation:not(:last-child) {
  margin-bottom: 10px;
}

.numbers > li {
  margin-bottom: 10px;
}

.numbers > li:first-child {
  width: 55%;
  margin-right: 10px;
  margin-bottom: 0;
  padding-left: 20px;
  border-radius: 80px;
  text-align: left;
}

.numbers > li:nth-child(2) {
  margin-bottom: 0;
}

.numbers > li:nth-child(n+3) {
  margin-right: 10px;
}

.numbers > li:nth-child(5), .numbers > li:nth-child(8), .numbers > li:nth-child(11) {
  margin-right: 0;
}
