/*
  今回はスマホ用レイアウトしか実装していません。
*/

/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #000;
  background: #fff;
}
/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}
/*because legend doesn't inherit in IE */
legend {
  color: #000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

// 追加
ul {
  list-style-type: none;
}

input,
textarea,
select {
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  background: none;
  outline: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input::-ms-expand {
  display: none;
}

input[type="radio"] {
  display: none;
}

textarea {
  resize: none;
}

// breakpoint
$breakpoints: (
  "sm": (
    min-width: 640px,
  ),
  "md": (
    min-width: 768px,
  ),
  "lg": (
    min-width: 1024px,
  ),
  "xl": (
    min-width: 1280px,
  ),
) !default;

@mixin mq($breakpoint) {
  @media #{inspect(map-get($breakpoints, $breakpoint))} {
    @content;
  }
}

// ie用
@mixin ie {
  @media all and (-ms-high-contrast: none) {
    @content;
  }
}

// COLOR
$colorDark: #012c45;
$colorBlack: #000;
$colorGray: #666;
$colorWhite: #fff;
$colorPurple: #1f1b22;

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: $colorBlack;
  color: $colorWhite;
}

.inner {
  margin-top: auto;
  padding: 10px;
}

.value {
  width: 100%;
  background-color: transparent;
  color: $colorWhite;
  text-align: right;
  font-size: 85px;

}
.font70 {
  font-size: 70px;
}
.font65 {
  font-size: 65px;
}
.font60 {
  font-size: 60px;
}
.font55 {
  font-size: 55px;
}
.font50 {
  font-size: 50px;
}

.main-body {
  width: 75%;
  float: left;
  clear: both;
  margin-right: 10px;
}

.other,
.numbers,
.operations {
  display: flex;
}

.other {
  margin-bottom: 10px;
}

.numbers {
  flex-wrap: wrap-reverse;
}

.operations {
  flex-direction: column;
}

.button {
  display: block;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  line-height: 77px;
  text-align: center;
  font-size: 25px;
}

// .button--other,
// .button--number,
// .button--colon {
//   width: 70px;
// }

.button--other {
  background-color: #a6a6a6;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.button--number,
.button--colon {
  background-color: #333333;
}

.button--operation {
  background-color: #fe9500;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.numbers > li {
  margin-bottom: 10px;

  // ボタン「0」のスタイル指定
  &:first-child {
    // width: calc((100% - 30px) * 2 / 3);
    width: 55%;
    margin-right: 10px;
    margin-bottom: 0;
    padding-left: 20px;
    border-radius: 80px;
    text-align: left;
  }
  // ボタン「.」のスタイル指定
  &:nth-child(2) {
    margin-bottom: 0;
  }
  // ボタン「1」以降のスタイル指定
  &:nth-child(n + 3) {
    // width: calc((100% - 10px * 2) / 3);
    // height: 77px;
    margin-right: 10px;
  }
  &:nth-child(5),
  &:nth-child(8),
  &:nth-child(11) {
    margin-right: 0;
  }
}
